<div class="row">
<div class="span6 offset3">


<%= form_for(@website) do |f| %>

    <%= f.label :link %><br />
    <%= f.text_field :link%>
  
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
</div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>