<div class="row">
<div class="span6">
<%= form_for([@post, @post.comments.build]) do |f| %>
  
    <%= f.label :name %><br />
    <%= f.text_field :commenter%>
  
    <%= f.label :body %><br />
    <%= f.text_area :body %>
  </div>
</div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>